<!DOCTYPE html>
<html dir="ltr" lang="">
<head>
 <base href="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>veldrin</title>
	<script type="application/json" class="joomla-script-options new">{"csrf.token":"c1cc5ed4dfcf035ee9b52869f9db8d0a","system.paths":{"root":"","base":""},"system.keepalive":{"interval":840000,"uri":"\/index.php\/component\/ajax\/?format=json"}}</script>
	<script src="../../../media/system/js/core.js%3Fe189606408b8d881ca063e31e45c549c" type="text/javascript"></script>
	<!--[if lt IE 9]><script src="/media/system/js/polyfill.event.js?e189606408b8d881ca063e31e45c549c" type="text/javascript"></script><![endif]-->
	<script src="../../../media/system/js/keepalive.js%3Fe189606408b8d881ca063e31e45c549c" type="text/javascript"></script>
	<script src="../../../media/jui/js/jquery.min.js%3Fe189606408b8d881ca063e31e45c549c" type="text/javascript"></script>
	<script src="../../../media/jui/js/jquery-noconflict.js%3Fe189606408b8d881ca063e31e45c549c" type="text/javascript"></script>
	<script src="../../../media/jui/js/jquery-migrate.min.js%3Fe189606408b8d881ca063e31e45c549c" type="text/javascript"></script>
	<!--[if lt IE 9]><script src="/media/system/js/html5fallback.js?e189606408b8d881ca063e31e45c549c" type="text/javascript"></script><![endif]-->

 <link rel="stylesheet" href="../../../templates/system/css/system.css" type="text/css" />
 <link rel="stylesheet" href="../../../templates/system/css/general.css" type="text/css" />
 <link rel="stylesheet" href="../../../templates/bladejoomlatemplate3/css/print.css" type="text/css" />
</head>
<body class="contentpane">
 <div id="system-message-container">
	</div>

 <div id="mailto-window">
	<h2>
		Отправка ссылки другу	</h2>
	<div class="mailto-close">
		<a href="javascript: void window.close()" title="Закрыть окно">
			<span>
				Закрыть окно			</span>
		</a>
	</div>
	<form action="https://veldrin.pp.ua/index.php/component/mailto/?task=send" method="post" class="form-validate form-horizontal well">
		<fieldset>
												<div class="control-group">
			<div class="control-label"><label id="emailto-lbl" for="emailto" class="required">
	E-mail адресата<span class="star">&#160;*</span></label>
</div>
		<div class="controls"><input type="email" name="emailto" class="validate-email required" id="emailto" value=""
 size="30"    autocomplete="email"    required aria-required="true"  /></div>
</div>
																<div class="control-group">
			<div class="control-label"><label id="sender-lbl" for="sender" class="required">
	Ваше имя<span class="star">&#160;*</span></label>
</div>
		<div class="controls"><input type="text" name="sender" id="sender"  value="" class="required" size="30"       required aria-required="true"      />
</div>
</div>
																<div class="control-group">
			<div class="control-label"><label id="emailfrom-lbl" for="emailfrom" class="required">
	Ваш e-mail<span class="star">&#160;*</span></label>
</div>
		<div class="controls"><input type="email" name="emailfrom" class="validate-email required" id="emailfrom" value=""
 size="30"    autocomplete="email"    required aria-required="true"  /></div>
</div>
																<div class="control-group">
			<div class="control-label"><label id="subject-lbl" for="subject" class="required">
	Тема<span class="star">&#160;*</span></label>
</div>
		<div class="controls"><input type="text" name="subject" id="subject"  value="" class="required" size="30"       required aria-required="true"      />
</div>
</div>
										<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary validate">
						Отправить					</button>
					<button type="button" class="button" onclick="window.close();return false;">
						Отменить					</button>
				</div>
			</div>
		</fieldset>
		<input type="hidden" name="layout" value="default" />
		<input type="hidden" name="option" value="com_mailto" />
		<input type="hidden" name="task" value="send" />
		<input type="hidden" name="tmpl" value="component" />
		<input type="hidden" name="link" value="41c7bf765127ce47c037523d0d06ccbf7ad33c96" />
		<input type="hidden" name="c1cc5ed4dfcf035ee9b52869f9db8d0a" value="1" />	</form>
</div>

</body>
</html>
